/****** Object:  Table [dbo].[passwort]    Script Date: 19.06.2020 12:16:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[passwort](
	[Passwort] [varchar](45) NOT NULL,
	[idPasswort] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [idPasswort] PRIMARY KEY CLUSTERED 
(
	[idPasswort] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[passwort] ON 

INSERT [dbo].[passwort] ([Passwort], [idPasswort]) VALUES (N'1234', 1)
INSERT [dbo].[passwort] ([Passwort], [idPasswort]) VALUES (N'cbo', 2)
INSERT [dbo].[passwort] ([Passwort], [idPasswort]) VALUES (N'fpr', 3)
SET IDENTITY_INSERT [dbo].[passwort] OFF
GO
